/* Загальний контейнер фільтрації */
.filterForm {
  width: 924px;
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin: 0 auto;   
}


/* Підпис над полем */
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.labelCaption {
  font-size: 12px;
  color: #8a8a89;
}

/* ========== SELECT'S ========== */

.selectWrapper {
  position: relative;
  height: 48px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
}

/* ширина для brand */
.selectBrand {
  width: 204px;
}

/* ширина для price */
.selectPrice {
  width: 196px;
}

.selectWrapper select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0 44px 0 18px;
  font-size: 16px;
  color: #121417;
}

.selectWrapper::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("/icons/select-wrapper-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

/* ========= FROM | TO ========= */

.mileageWrapper {
  width: 320px;
  height: 48px;
  display: flex;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  background: #fff;
  overflow: hidden;
}

.mileageInput {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  color: #121417;
}

.mileageInput + .mileageInput {
  border-left: 1px solid #e0e0e0;
}

.mileageInput input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
}

/* ========= SEARCH BUTTON ========= */

.searchBtn {
  width: 208px; 
  height: 48px;
  border-radius: 14px;
  border: none;
  background-color: #3470ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 16px 40px rgba(52, 112, 255, 0.35);
  transition: 0.2s;
}

.searchBtn:hover {
  background-color: #0b44cd;
}
